<p>
  <mat-toolbar color="primary">
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <a routerLink="">Home</a>
      </button>
      <button mat-menu-item>
        <mat-icon>voicemail</mat-icon>
        <a routerLink="author">Author</a>
      </button>
    </mat-menu>
    <span>Book Manager</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
</p>
