<p>
  <mat-toolbar color="primary">
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <ng-container *ngFor="let item of menuItems">
        <button mat-menu-item>
          <mat-icon>{{ item.icon }}</mat-icon>
          <a [routerLink]="item.routerLink">{{ item.label }}</a>
        </button>
      </ng-container>
    </mat-menu>
    <span>Book Manager</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
</p>
