table {
  margin-top: 1rem;
}

td input {
  width: 100%;
  padding: 4px;
  box-sizing: border-box;
}

mat-form-field {
  padding-top: 1rem;
}

.column-button td.mat-cell {
  width: 50px;
}

#table-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
