<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Search conditions</mat-panel-title>
      <mat-panel-description>
        {{ panelDescription }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-container *ngFor="let key of searchKeys">
      <mat-form-field>
        <input matInput [placeholder]="key" [(ngModel)]="searchKey[key]" />
      </mat-form-field>
    </ng-container>
    <button mat-raised-button (click)="onSearchClick()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-expansion-panel>
</mat-accordion>
